<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>My Django Blog</title>
</head>
<link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
<body>

<div id="header">
    <ul id="control-bar">
        {% if user.is_authenticated %}
        <li> {{ user.get_username }} | </li>
        <li><a href="/accounts/logout/">logout</a></li>
        {% else %}
        <li><a href="{% url 'admin:login' %}">admin login | </a></li>
        <li><a href="/accounts/login/">user login </a></li>
        {% endif %}
    </ul>
</div>
<div id="container">
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</div>
<hr>
<div id="forms">
    <h1>Links to WT Forms</h1>
    <h3><a href="/your-name/">Your name form</a></h3>
    <h3><a href="/your-contact/">Your contact form</a></h3>
</div>
</body>
</html>